@use './index.scss' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $black;
    font-family: 'Roboto', sans-serif;
}

html {
    &::-webkit-scrollbar {
        @include custom-scrollbar;
    }

    &::-webkit-scrollbar-track {
        @include custom-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
        @include custom-scrollbar-thumb;
    }
}